@{
    Layout = null;
}
<script type="text/javascript">
    $(function () {
        $('#grid').datagrid({
            url: '@Url.Action("GetTransportList", "BaseInfo")',
            width: function () { return document.body.clientWidth * 0.9 },
            nowrap: true,
            autoRowHeight: true,
            striped: true,
            collapsible: false,
            pagination: true,
            pageSize: 1000,
            pageList: [1000],
            rownumbers: true,
            sortOrder: 'desc',
            remoteSort: false,
            singleSelect: true,
            idField: 'TransportID',
            queryParams: {},
            animate: true,
            columns: [[
            { title: 'ID', field: 'TransportID', hidden: true, width: 1, halign: 'center', align: 'center' },
            { title: '状态', field: 'TransportStatusStr', width: 180, halign: 'center', align: 'center' },
            { title: '', field: 'TransportStatus', hidden: true, width: 180, halign: 'center', align: 'center' },
            { title: '订单类型', field: 'OrderType', width: 280, halign: 'center', align: 'center' },
            { title: '运输方式', field: 'TransportName', width: 180, halign: 'center', align: 'center' },

            ]],
        });
        //新增/修改
        $('#AddorUpdateWindow').dialog({
            width: 'auto',
            height: 'auto',
            top: 100,
            modal: true,
            closed: true,
            inline: true,
            buttons: [{
                text: '确定',
                handler: function () {
                    Save();
                }
            }, {
                text: '取消',
                handler: function () {
                    $('#AddorUpdateWindow').dialog('close');
                }
            }]
        });
    })
    function ClickAdd() {
        $('#TransportID').val('');
        $('#TransportName').textbox('setValue', null);
        $('#OrderType').combobox('setValue', null);
        $('#AddUp').val(1);
        $('#AddorUpdateWindow').dialog({ title: "新增运输方式" });
        $('#AddorUpdateWindow').dialog('open');
        $('#Name').textbox('setValue', null);
    }
    function ClickModify() {
        var row = $("#grid").datagrid("getSelected");
        if (row == null) {
            alert("您还没有选择运输方式，请选择！");
            return;
        }
        $.post('@Url.Action("GetTransport", "BaseInfo")',
                  { id: row.TransportID },
                      function (data, textStatus, jqXHR) {
                          if (data.SubmitResult) {
                              $('#AddUp').val(2);
                              $('#TransportID').val(data.Object.TransportID);
                              $('#TransportName').textbox('setValue', data.Object.TransportName);
                              $('#OrderType').textbox('setValue', data.Object.OrderType);

                              $('#AddorUpdateWindow').dialog({ title: "修改运输方式" });
                              $('#AddorUpdateWindow').dialog('open');
                          }
                          else {
                              alert(data.Message);
                              return;
                          }
                      }, "json");
    }
    function ClickActived() {
        var row = $("#grid").datagrid("getSelected");
        if (row == null) {
            alert("您还没有选择运输方式，请选择！");
            return;
        }
        var status = false;
        if (row.TransportStatus == null || row.TransportStatus == '') {
            status = true;
        }
        $.post('@Url.Action("UpdateTransport", "BaseInfo")',
                 { TransportID: row.TransportID, TransportStatus: status },
                     function (data, textStatus, jqXHR) {
                         if (data.SubmitResult) {
                             $('#grid').datagrid('reload');
                         }
                         else {
                             alert(data.Message);
                             return;
                         }
                     }, "json");
    }
    function Save() {
        if ($("#AddorUpdate").form('validate')) {
            if ($('#AddUp').val() == 1) {
                $.post(
                 '@Url.Action("AddTransport", "BaseInfo")',
                 {
                     TransportName: $('#TransportName').textbox('getValue'),
                     OrderType: $('#OrderType').combobox('getValue'),

                 },
                 function success(data, textStatus, jqXHR) {
                     if (data.SubmitResult) {
                         $('#AddorUpdateWindow').dialog('close');
                         $('#grid').datagrid('reload');
                         $('#grid').datagrid('clearSelections');
                     }
                     else {
                         alert(data.Message);
                         return;
                     }
                 }, "json");
            }
            else {
                $.post(
                  '@Url.Action("UpdateTransport", "BaseInfo")',
                  {
                      TransportID: $('#TransportID').val(),
                      TransportName: $('#TransportName').textbox('getValue'),
                      OrderType: $('#OrderType').combobox('getValue'),
                  },
                  function success(data, textStatus, jqXHR) {
                      if (data.SubmitResult) {
                          $('#AddorUpdateWindow').dialog('close');
                          $('#grid').datagrid('reload');
                      }
                      else {
                          alert(data.Message);
                          return;
                      }
                  }, "json");
            }
        }
    }
</script>
<div class="easyui-layout" style="height:100%;">
    <div region="north" style="height:94px">
        @Html.Partial("_Partialtool")
    </div>
    <div region="center">
        <div id="BodyContentDiv" class="DivPage">
            <table id="grid" style="width:100%;height:100%;"></table>
        </div>
    </div>
</div>


@*新增/修改*@
<div id="AddorUpdateWindow">
    <div class="AddContent">
        <form id="AddorUpdate">
            <input id="TransportID" hidden="hidden" />
            <input id="AddUp" hidden="hidden" />
            <p>
                <span class="cl100">运输方式名称：</span>
                <input class="easyui-textbox txt200" style="width:200px;" id="TransportName" required missingmessage="运输方式名称必须选择！" />
            </p>
            <p>
                <span class="cl100">订单类型：</span>
                <select id="OrderType" class="easyui-combobox txt200" style="width:200px;" editable="false" required missingmessage="所属订单类型必须选择！">
                    <option value="试剂订单">试剂订单</option>
                    <option value="维修订单">维修订单</option>
                </select>
            </p>
        </form>
    </div>
</div>
