@{
    Layout =null;
    ViewBag.SearchOption = "prompt:'支持货号、产品名称、规格、产品类型模糊查询',searcher:doSearch";
    ViewBag.SearchCombination = "<select id='searchproductline' class='txt250 ' panelHeight='auto' buttonText='产品线'></select>";
}
<script type="text/javascript">
    $(function () {
        $('#grid').datagrid({
            iconCls: 'icon-view',
            width: function () { return document.body.clientWidth * 0.9 },
            nowrap: true,
            autoRowHeight: true,
            striped: true,
            collapsible: false,
            pagination: true,
            pageSize: 10,
            pageList: [10, 20, 30],
            rownumbers: true,
            sortOrder: 'desc',
            remoteSort: false,
            singleSelect: true,
            idField: 'ProductID',
            animate: true,
            columns: [[
                 { title: 'ProductID', field: 'ProductID', hidden: true, width: 1, halign: 'center', align: 'center' },
                 { title: '状态', field: 'IsActivestr', width: 50, halign: 'center', align: 'center' },
                 { title: '货号', field: 'ArtNo', width: 200, halign: 'center', align: 'left' },
                 { title: '产品名称', field: 'ProductName', width: 380, halign: 'center', align: 'left' },
                 { title: '规格', field: 'ReagentSize', width: 140, halign: 'center', align: 'center' },
                 { title: '产品类型', field: 'ProductTypeName', width: 140, halign: 'center', align: 'center' },
                 { title: '产品线', field: 'ProductLineName', width: 140, halign: 'center', align: 'left' },
                 { title: '项目', field: 'ReagentProject', width: 160, halign: 'center', align: 'center' },
                 { title: '测试数', field: 'ReagentTest', width: 160, halign: 'center', align: 'center' },
                 { title: '描述', field: 'RemarkDes', width: 500, halign: 'center', align: 'left' }
            ]]
        });

        $('#searchproductline').combobox({
            url: '@Url.Action("GetSearchProductLine", "ProductManagement")',
            valueField: 'ProductLineID',
            textField: 'ProductLineName',
            editable: false,
            value: -1,
            onSelect: function (row) {
                $("#serchText").searchbox('setValue', null);
                $('#grid').datagrid({ url: '@Url.Action("GetReagentInfo", "ProductManagement")', queryParams: { ProductLineID: row.ProductLineID == -1 ? null : row.ProductLineID } });
            }
        });

        //新增/修改
        $('#AddorUpdateWindow').dialog({
            width: 'auto',
            height: 'auto',
            top: 30,
            modal: true,
            closed: true,
            inline: true,
            buttons: [{
                text: '确定',
                handler: function () {
                    SaveInfo();
                }
            }, {
                text: '取消',
                handler: function () {
                    $('#AddorUpdateWindow').dialog('close');
                }
            }],
            onOpen: function () {
                
            },
            onClose: function () {
                
            }
        });
        //停用原因
        $('#StopWindow').dialog({
            width: 'auto',
            height: 'auto',
            top: 100,
            modal: true,
            closed: true,
            inline: true,
            buttons: [{
                text: '确定',
                handler: function () {
                    StopActived();
                }
            }, {
                text: '取消',
                handler: function () {
                    $('#StopWindow').dialog('close');
                }
            }],
            title: "停用原因",
            onOpen: function () {
                
            },
            onClose: function () {
                
            }
        });

        $('#ImportProduct').dialog({
            width: 'auto',
            height: 'auto',
            top: 100,
            modal: true,
            closed: true,
            inline: true,
            buttons: [{
                text: '确定',
                handler: function () {
                    if ($("#ProductFile").filebox("getValue") == "")
                    { alert("请选择导入文件") }
                    else
                    {
                        $('#ProductFileform').submit();
                    }
                }
            }, {
                text: '取消',
                handler: function () {
                    $('#ImportProduct').dialog('close');
                }
            }],
            title: "导入试剂产品",
            onOpen: function () {
                
            },
            onClose: function () {
                
            }
        });

        $('#ProductFileform').ajaxForm({
            url: '@Url.Action("ImportReagentProduct", "ProductManagement")',
            dataType: 'json',
            beforeSend: function () {
            },
            success: function () {
            },
            complete: function (data) {
                if (!data.responseJSON) {
                    alert("导入成功！")
                    $('#ImportProduct').dialog('close');
                    $('#grid').datagrid('clearSelections');
                    $('#grid').datagrid('reload', { SearchText: null, ProductLineID: null });
                }
                else {
                    if (data.responseJSON == "导入失败") {
                        alert("导入失败！");
                    }
                    else {
                        alert("导入失败，即将下载错误文件！");
                        window.location.href = "/ProductManagement/DownloadReagent?filename=" + data.responseJSON;
                    }
                }
            }
        });
    })
    function doSearch(value) {
        var productline = null;
        if ($('#searchproductline').combobox("getValue") != "-1") {
            productline = $('#searchproductline').combobox("getValue");
        }
        $('#grid').datagrid('reload', { SearchText: value, ProductLineID: productline });
    }
    function ClickAdd() {
        ProductTypeName();
        ProductLineName();
        $("#serchText").searchbox('setValue', null);
        $('#searchproductline').combobox('setValue', '请选择', '-1');
        $("#ArticleNumber").textbox({ disabled: false });
        $('#ArticleNumber').textbox('setValue', null);
        $('#ProductName').textbox('setValue', null);
        $('#ProductTypeName').combobox('setValue', null);
        $('#ProductLineName').combobox('setValue', null);
        $('#Specifications').textbox('setValue', null);
        $('#ReagentProject').textbox('setValue', null);
        $('#ReagentTest').textbox('setValue', null);
        $('#Describe').textbox('setValue', null);
        $("#AddUp").val(0);
        $('#AddorUpdateWindow').dialog({ title: "新增试剂产品" });
        $('#AddorUpdateWindow').dialog('open');
    }
    function ClickModify() {
        var row = $('#grid').datagrid('getSelected');
        if (row == null) {
            alert("请选择要修改的试剂产品");
            return;
        }
        ProductTypeName();
        ProductLineName();
        $("#ArticleNumber").textbox({ disabled: true });
        $.post("@Url.Action("GetOneReagentInfo", "ProductManagement")", {
            ProductID: row.ProductID
        }, function (data) {
            if (data.SubmitResult) {
                $('#ArticleNumber').textbox('setValue', data.Object.ArtNo);
                $('#ProductName').textbox('setValue', data.Object.ProductName);
                $('#ProductTypeName').combobox('setValue', data.Object.ProductTypeID);
                $('#ProductLineName').combobox('setValue', data.Object.ProductLineID);
                $('#Specifications').textbox('setValue', data.Object.ReagentSize);
                $('#ReagentProject').textbox('setValue', data.Object.ReagentProject);
                $('#ReagentTest').textbox('setValue', data.Object.ReagentTest);
                $('#Describe').textbox('setValue', data.Object.RemarkDes);
                $("#AddUp").val(1);
                $('#AddorUpdateWindow').dialog({ title: "修改试剂产品" });
                $('#AddorUpdateWindow').dialog('open');
            } else {
                alert(data.Message);
            }
        });
    }
    function ClickDel() {
        var row = $('#grid').datagrid('getSelected');
        if (row == null) {
            alert("请选择要删除的试剂产品");
            return;
        }
        $.messager.confirm('提示', '是否删除选中数据?', function (data) {
            if (!data) {
                return;
            }
            $.post("@Url.Action("DeleteReagentInfo", "ProductManagement")", {
                ProductID: row.ProductID
            }, function (data) {
                if (data.SubmitResult) {
                    $('#grid').datagrid("reload");
                } else {
                    alert(data.Message);
                }
            });
        });
    }
    function SaveInfo() {
        if ($("#AddorUpdate").form('validate')) {
            if ($("#AddUp").val() == 0) {
                $.post("@Url.Action("AddReagentInfo", "ProductManagement")", {
                    ArtNo: $('#ArticleNumber').textbox('getValue'),
                    ProductName: $('#ProductName').textbox('getValue'),
                    ProductTypeID: $('#ProductTypeName').combobox('getValue'),
                    ProductLineID: $('#ProductLineName').combobox('getValue'),
                    ReagentSize: $('#Specifications').textbox('getValue'),
                    ReagentProject: $('#ReagentProject').textbox('getValue'),
                    ReagentTest: $('#ReagentTest').textbox('getValue'),
                    RemarkDes: $('#Describe').textbox('getValue')
                }, function (data) {
                    if (data.SubmitResult) {
                        $('#grid').datagrid('clearSelections');
                        $('#grid').datagrid("reload", { SearchText: null, ProductLineID: null });
                        $('#AddorUpdateWindow').dialog('close')
                    } else {
                        alert(data.Message);
                    }
                });
            } else {
                var row = $('#grid').datagrid('getSelected');
                $.post("@Url.Action("UpdateReagentInfo", "ProductManagement")", {
                    ProductID: row.ProductID,
                    ArtNo: $('#ArticleNumber').textbox('getValue'),
                    ProductName: $('#ProductName').textbox('getValue'),
                    ProductTypeID: $('#ProductTypeName').combobox('getValue'),
                    ProductLineID: $('#ProductLineName').combobox('getValue'),
                    ReagentSize: $('#Specifications').textbox('getValue'),
                    ReagentProject: $('#ReagentProject').textbox('getValue'),
                    ReagentTest: $('#ReagentTest').textbox('getValue'),
                    RemarkDes: $('#Describe').textbox('getValue')
                }, function (data) {
                    if (data.SubmitResult) {
                        $('#grid').datagrid("reload");
                        $('#AddorUpdateWindow').dialog('close')
                    } else {
                        alert(data.Message);
                    }
                });
            }
        }
    }
    function ClickActived() {
        var row = $('#grid').datagrid('getSelected');
        if (row.length == 0) {
            alert("您还没有选择用户，请选择！");
            return;
        }
        if (row.IsActivestr == "启用") {
            $('#StopReason').textbox("setValue", null);
            $('#StopWindow').dialog('open');
        } else {
            $.post("@Url.Action("StartOrStopReagentInfo", "ProductManagement")", {
                ProductID: row.ProductID,
                IsActive: true
            }, function (data) {
                if (data.SubmitResult) {
                    $('#grid').datagrid("reload");
                } else {
                    alert(data.Message);
                }
            })
        }
    }
    function StopActived() {
        if ($("#StopForm").form('validate')) {
            var row = $('#grid').datagrid('getSelected');
            $.post("@Url.Action("StartOrStopReagentInfo", "ProductManagement")", {
                ProductID: row.ProductID,
                IsActive: false,
                StopReason: $('#StopReason').textbox('getValue')
            }, function (data) {
                if (data.SubmitResult) {
                    $('#grid').datagrid("reload");
                    $('#StopWindow').dialog('close');
                } else {
                    alert(data.Message);
                }
            })
        }
    }
    // 导出
    function ClickExport() {
        $.post("@Url.Action("ExportReagent", "ProductManagement")", {
            SearchText: $("#serchText").searchbox('getValue'),
            ProductLineID: $('#searchproductline').combobox('getValue') == -1 ? null : $('#searchproductline').combobox('getValue'),
        }, function (data) {
            if (data) {
                window.location.href = "/ProductManagement/DownloadReagent?filename=" + data;
            } else {
                alert("导出失败！");
            }
        })
    }

    // 导入
    function ClickImport() {;
        $('#ProductFile').filebox("clear");
        $('#ImportProduct').dialog('open');
    }

    //产品类型
    function ProductTypeName() {
        $('#ProductTypeName').combobox({
            url: '@Url.Action("GetProductTypeList", "ProductManagement")',
            valueField: 'ProductTypeID',
            textField: 'ProductTypeName',
            editable: false,
            onLoadSuccess: function (data) {
                return;
            }
        });
    }
    //产品线
    function ProductLineName(ptypeid) {
        $('#ProductLineName').combobox({
            url: '@Url.Action("GetProductLine", "ProductManagement")',
            valueField: 'ProductLineID',
            textField: 'ProductLineName',
            editable: false,
            onLoadSuccess: function (data) {
                return;
            }
        });
    }
</script>


<div class="easyui-layout" style="height:100%;">
    <div region="north" style="height:94px">
        @Html.Partial("_Partialtool")
    </div>
    <div region="center">
        <div id="BodyContentDiv" >
            <table id="grid" fit="true"></table>
        </div>
    </div>
</div>
@*产品类型新增/修改*@
<div id="AddorUpdateWindow">
    <div class="AddContent">
        <input id="AddUp" type="text" hidden="hidden" />
        <form id="AddorUpdate">
            <p>
                <span class="cl100">货号：</span>
                <input class="easyui-textbox txt150" style="width:150px;" id="ArticleNumber" required missingmessage="货号必须填写！" />
            </p>
            <p>
                <span class="cl100">产品名称：</span>
                <input class="easyui-textbox txt150" style="width:150px;" id="ProductName" style="width:275px;" required missingmessage=" 产品名称必须填写！" />
            </p>
            <p>
                <span class="cl100">产品类型：</span>
                <select class="easyui-combobox txt150" style="width:150px;" id="ProductTypeName" editable="false" required missingmessage="产品类型必须填写！"></select>
            </p>
            <p>
                <span class="cl100">产品线：</span>
                <select class="easyui-combobox txt150" style="width:150px;" id="ProductLineName" editable="false" required missingmessage="产品线必须填写！"></select>
            </p>
            <p>
                <span class="cl100">规格：</span>
                <input class="easyui-textbox txt150" style="width:150px;" id="Specifications" required missingmessage="规格必须填写！" />
            </p>
            <p>
                <span class="cl100">项目：</span>
                <input class="easyui-textbox txt150" style="width:150px;" id="ReagentProject" required missingmessage="项目必须填写！" />
            </p>
            <p>
                <span class="cl100">测试数：</span>
                <input class="easyui-textbox txt150" style="width:150px;" id="ReagentTest" required missingmessage="测试数必须填写！" />
            </p>
            <p>
                <span class="cl100">描述：</span>
                <input class="easyui-textbox txt150" style="width:150px;" id="Describe" style="width:275px;height:90px;" data-options="multiline:true" />
            </p>
        </form>
    </div>
</div>

@*停用原因*@
<div id="StopWindow">
    <div class="AddContent">
        <form id="StopForm">
            <p>
                <span class="cl100">原因：</span>
                <input class="easyui-textbox txt300" style="width:300px;" data-options="multiline:true" style="height:50px" id="StopReason" required missingmessage="停用原因必须填写！" />
            </p>
        </form>
    </div>
</div>

@*导入*@
<div id="ImportProduct">
    <div class="AddContent">
        <form id="ProductFileform" method="post" enctype="multipart/form-data">
            <p>
                <input id="ProductFile" class="easyui-filebox txt410" style="width:410px;" name="ProductFile" data-options="prompt:'导入试剂产品文件',accept:'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel' ,buttonText:'选择导入文件'">
            </p>
            <br />
            <p>
                <a href="~/TempLate/IMP_ReagentProduct.xlsx">下载试剂产品导入模板</a>
            </p>
        </form>
    </div>
</div>
