@{
    Layout = null;
    ViewBag.SearchOption = "prompt:'支持货号、产品名称模糊查询',searcher:doSearch";
    ViewBag.SearchCombination = "<select id='searchproductline' class='txt250' editable='false' panelHeight='auto' buttonText='产品线'></select>";

}

<script type="text/javascript">
    $(function () {
        InitSearchProductLine();
        $('#grid').datagrid({
            iconCls: 'icon-view',
            width: function () { return document.body.clientWidth * 0.9 },
            nowrap: true,
            autoRowHeight: true,
            striped: true,
            collapsible: false,
            pagination: true,
            pageSize: 10,
            pageList: [10, 20, 30],
            rownumbers: true,
            sortOrder: 'desc',
            remoteSort: false,
            singleSelect: true,
            idField: 'Index',
            queryParams: {},
            animate: true,
            columns: [[
                 { title: 'ID', field: 'Index', hidden: true, width: 1, halign: 'center', align: 'center' },
                 { title: 'ID', field: 'ProductID', hidden: true, width: 1, halign: 'center', align: 'center' },
                 { title: 'ID', field: 'ProductPriceID', hidden: true, width: 1, halign: 'center', align: 'center' },
                 { title: '货号', field: 'ArtNo', width: 200, halign: 'center', align: 'center' },
                 { title: '产品名称', field: 'ProductName', width: 380, halign: 'center', align: 'left' },
                 { title: '产品线', field: 'ProductLineName', width: 140, halign: 'center', align: 'center' },
                 { title: 'DNP价格(含税)', field: 'DNPPrice', width: 140, halign: 'center', align: 'right' },
                 {
                     title: '开始日期', field: 'DNPPriceStart', width: 140, halign: 'center', align: 'center', formatter: function (value, row, index) {
                         if (value != null) {
                             return jsonDateFormat(value);
                         }
                     }
                 },
                 {
                     title: '结束日期', field: 'DNPPriceEnd', width: 140, halign: 'center', align: 'center', formatter: function (value, row, index) {
                         if (value != null) {
                             return jsonDateFormat(value);
                         }
                     }
                 }
            ]],
        });
        //新增/修改
        $('#AddorUpdateWindow').dialog({
            width: 'auto',
            height: 'auto',
            top: 20,
            modal: true,
            closed: true,
            inline: true,
            buttons: [{
                text: '确定',
                handler: function () {
                    Save();
                }
            }, {
                text: '取消',
                handler: function () {
                    $('#AddorUpdateWindow').dialog('close');
                }
            }],
            onOpen: function () {
                
            },
            onClose: function () {
                
            }
        });
        $('#ImportRepairPrice').dialog({
            width: 'auto',
            height: 'auto',
            top: 100,
            modal: true,
            closed: true,
            inline: true,
            buttons: [{
                text: '确定',
                handler: function () {
                    if ($('#RepairPriceFile').filebox("getValue") == "")
                    { alert("请选择导入文件！") }
                    else
                    {
                        $('#RepairPriceFileform').submit();
                    }
                }
            }, {
                text: '取消',
                handler: function () {
                    $('#ImportRepairPrice').dialog('close');
                }
            }],
            title: "导入维修产品价格",
            onOpen: function () {
                
            },
            onClose: function () {
                
            }
        });

        $('#RepairPriceFileform').ajaxForm({
            url: '@Url.Action("ImportRepairPrice", "ProductManagement")',
            dataType: 'json',
            beforeSend: function () {
            },
            success: function () {
            },
            complete: function (data) {
                if (!data.responseJSON) {
                    alert("导入成功！")
                    $('#ImportRepairPrice').dialog('close');
                    $('#grid').datagrid('reload', { SearchText: null, ProductLineID: null });
                }
                else {
                    if (data.responseJSON == "导入失败") {
                        alert("导入失败！");
                    }
                    else {
                        alert("导入失败，即将下载错误文件！");
                        window.location.href = "/ProductManagement/DownloadRepairPrice?filename=" + data.responseJSON;
                    }
                }
            }
        });
    })
    function doSearch(value) {
        var productline = null;
        if ($('#searchproductline').combobox("getValue") != "-1") {
            productline = $('#searchproductline').combobox("getValue");
        }
        $('#grid').datagrid('reload', { SearchText: value, ProductLineID: productline });

    }

    function ClickModify() {
        var row = $("#grid").datagrid("getSelected");
        if (row == null) {
            alert("您还没有选择维修产品价格信息，请选择！");
            return;
        }
        $('#ProductID').val(row.ProductID);
        $('#ProductPriceID').val(row.ProductPriceID);
        $('#ArtNo').textbox('setValue', row.ArtNo);
        $('#ProductLineName').textbox('setValue', row.ProductLineName);
        $('#ProductName').textbox('setValue', row.ProductName);
        $('#DNPPrice').numberbox('setValue', row.DNPPrice);
        if (row.DNPPriceStart == null) {
            $('#DNPPriceStart').datebox('setValue', null);
        }
        else {
            $('#DNPPriceStart').datebox('setValue', jsonDateFormat(row.DNPPriceStart));
        }
        if (row.DNPPriceEnd == null) {
            $('#DNPPriceEnd').datebox('setValue', null);
        }
        else {
            $('#DNPPriceEnd').datebox('setValue', jsonDateFormat(row.DNPPriceEnd));
        }
        $('#AddorUpdateWindow').dialog({ title: "修改维修产品价格" });
        $('#AddorUpdateWindow').dialog('open');

    }
    function ClickDel() {
        var row = $("#grid").datagrid("getSelected");
        if (row == null) {
            alert("您还没有选择维修产品价格信息，请选择！");
            return;
        }
        if (row.DNPPrice == null) {
            alert("此条产品未设置价格，不可删除");
            return;
        }
        $.messager.confirm('提示', '是否删除选中数据?', function (data) {
            if (!data) {
                return;
            }

            $.post(
            '@Url.Action("DeleteMaintenancePrice", "ProductManagement")',
            {
                ProductPriceID: row.ProductPriceID
            },
            function success(data, textStatus, jqXHR) {
                if (!data.SubmitResult) {
                    alert(data.Message);
                }
                else {
                    alert("删除成功！");
                    $('#grid').datagrid('clearSelections');
                    $('#grid').datagrid('reload');
                }
            }, "json");
        });
    }
    function Save() {
        if ($("#AddorUpdate").form('validate')) {
            var sdate = new Date($('#DNPPriceStart').datebox('getValue'));
            var edate = new Date($('#DNPPriceEnd').datebox('getValue'));
            if (edate - sdate < 0) {
                alert("时间区域选择有误，请重新选择！")
                return;
            }
            $.post(
             '@Url.Action("UpdateMaintenancePrice", "ProductManagement")',
                 {
                     ProductID: $('#ProductID').val(),
                     ProductPriceID: $('#ProductPriceID').val(),
                     DNPPrice: $('#DNPPrice').numberbox('getValue'),
                     DNPPriceStart: $('#DNPPriceStart').datebox('getValue'),
                     DNPPriceEnd: $('#DNPPriceEnd').datebox('getValue'),

                 },
                 function success(data, textStatus, jqXHR) {
                     if (!data.SubmitResult) {
                         alert(data.Message);
                     }
                     else {
                         $('#AddorUpdateWindow').dialog('close');
                         $('#grid').datagrid('reload');
                     }
                 }, "json");

        }
    }
    function ClickImport() {
        $("#serchText").searchbox('setValue', null);
        $('#searchproductline').combobox('setValue', '请选择', '-1');
        $('#RepairPriceFile').filebox("clear");
        $('#ImportRepairPrice').dialog('open');
    }
    // 导出
    function ClickExport() {
        $.post("@Url.Action("ExportRepairPrice", "ProductManagement")", {
            SearchText: $("#serchText").searchbox('getValue'),
            ProductLineID: $('#searchproductline').combobox('getValue') == -1 ? null : $('#searchproductline').combobox('getValue')
        }, function (data) {
            if (data) {
                window.location.href = "/ProductManagement/DownloadRepairPrice?filename=" + data;
            } else {
                alert("导出失败！");
            }
        })
    }
    function InitSearchProductLine() {
        $('#searchproductline').combobox({
            url: '@Url.Action("GetSearchProductLine", "ProductManagement")',
            queryParams: {},
            valueField: 'ProductLineID',
            textField: 'ProductLineName',
            editable: false,
            value: -1,
            onSelect: function (row) {
                $("#serchText").searchbox('setValue', null);
                $('#grid').datagrid({ url: '@Url.Action("GetMaintenancePriceList", "ProductManagement")', queryParams: { ProductLineID: row.ProductLineID == -1 ? null : row.ProductLineID } });
            }

        })
    }
    //获取json传来的时间格式化为YYYY-MM-DD
    function jsonDateFormat(jsonDate) {
        var date = new Date(parseInt(jsonDate.replace("/Date(", "").replace(")/", ""), 10));
        var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
        var day = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
        return date.getFullYear() + "-" + month + "-" + day;
    }
</script>

<div class="easyui-layout" style="height:100%;">
    <div region="north" style="height:94px">
        @Html.Partial("_Partialtool")
    </div>
    <div region="center">
        <div id="BodyContentDiv">
            <table id="grid" fit="true"></table>
        </div>
    </div>
</div>
@*产品价格新增/修改*@
<div id="AddorUpdateWindow">
    <div class="AddContent">
        <input id="ProductPriceID" hidden="hidden" />
        <input id="ProductID" hidden="hidden" />
        <form id="AddorUpdate">
            <p>
                <span class="cl100">货号：</span>
                <input class="easyui-textbox txt150" style="width:150px;" id="ArtNo" disabled="disabled" />
            </p>
            <p>
                <span class="cl100">产品线：</span>
                <select id="ProductLineName" class="easyui-textbox txt150" style="width:150px;" editable=" false" disabled="disabled"></select>
            </p>
            <p>
                <span class="cl100">产品名称：</span>
                <select class="easyui-textbox txt150" id="ProductName" style="width:232px" editable="false" disabled="disabled"></select>
            </p>
            <p>
                <span class="cl100">DNP价格(含税)：</span>
                <input class="easyui-numberbox txt150" id="DNPPrice" style="width:150px;text-align:right" precision="10" required missingmessage="DNP价格必须填写！" />
            </p>
            <p>
                <span class="cl100">开始时间：</span>
                <input class="easyui-datebox txt150" id="DNPPriceStart" style="width:150px;" editable="false" required missingmessage="开始时间必须填写！" />
            </p>
            <p>
                <span class="cl100">结束时间：</span>
                <input class="easyui-datebox txt150" id="DNPPriceEnd" style="width:150px;" editable="false" required missingmessage="结束时间必须填写！" />
            </p>
        </form>
    </div>
</div>

@*导入*@
<div id="ImportRepairPrice">
    <div class="AddContent">
        <form id="RepairPriceFileform" method="post" enctype="multipart/form-data">
            <p>
                <input id="RepairPriceFile" class="easyui-filebox txt410" style="width:410px;" name="RepairPriceFile" data-options="prompt:'导入维修产品价格文件',accept:'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel' ,buttonText:'选择导入文件'">
            </p>
            <br />
            <p>
                <a href="~/TempLate/IMP_RepairPrice.xlsx">下载维修产品价格导入模板</a>
            </p>
        </form>
    </div>
</div>
