@{
    Layout = null;
}

<div class="easyui-layout" style="height:100%;">
    <div region="north" style="height:94px">
        <link href="~/Content/Document/CSS/_Partialtool.css" rel="stylesheet" />
        <div id="BodyContentTool">
            <div id="btnButton">
                <div class="comboelse" style="padding:5px 5px 5px 0;">
                    
                    <input class='easyui-datebox txt250' id='ValidDate1' editable='false' buttonText='发布日期起' />
                    <input class='easyui-datebox txt250' id='ValidDate2' editable='false' buttonText='发布日期止' />
                    <input class='easyui-datebox txt250' id='UpdateDate1' editable='false' buttonText='更新日期起' />
                    <input class='easyui-datebox txt250' id='UpdateDate2' editable='false' buttonText='更新日期止' />
                </div>
                <ul>
                    <li>
                        <input id="serchText" class="easyui-searchbox search" style="height:32px;width:500px;"
                               data-options="prompt:'支持标题、货号、发布人模糊查询',searcher:function(){}" />
                    </li>
                    <li><a href="#" class="easyui-linkbutton" id="btnTagAdd" onclick="showTagDialog();">标签</a></li>
                    <li><a href="#" class="easyui-linkbutton" id="btnAdd" onclick="addDialog();">添加</a></li>
                    <li><a href="#" class="easyui-linkbutton" id="btnModify" onclick="updateDialog();">修改</a></li>
                    <li><a href="#" class="easyui-linkbutton" id="btnDel" onclick="del();">删除</a></li>
                    <li><a href="#" class="easyui-linkbutton" id="btnExport" onclick="">查看</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div region="west" style="width:200px;border-right:1px solid #CCC; overflow:hidden;">
        <ul id="product_tree" class="easyui-tree"
            data-options="url:'@Url.Action("ProductLine", "Lss")',method:'get',animate:true,fit:true"></ul></ul>
    </div>

    <div region="center">
        <div id="BodyContentDiv">
            <table id="grid" class="easyui-datagrid"
                   data-options="
                   iconCls:'icon-view' ,
                   width:function () { return document.body.clientWidth * 0.9 },
                   nowrap:true,
                   autoRowHeight:true,
                   striped:true,
                   collapsible:false,
                   pagination:true,
                   pageSize:10,
                   pageList:[10, 20, 30],
                   rownumbers:true,
                   sortOrder:'desc',
                   remoteSort:false,
                   singleSelect:true,
                   queryParams:{},
                   animate:true,
                   idField:'id',
                   fit:true">
                <thead>
                    <tr>
                        <th data-options="field:'LssID',checkbox:true"></th>
                        <th data-options="field:'xxxx',width:80,align:'center',formatter:formatterFavorite">收藏</th>
                        <th data-options="field:'Attachments',width:80,align:'center',formatter:formatterAttachment">附件</th>
                        <th data-options="field:'AttachmentSize',width:120,align:'center'">附件大小(M)</th>
                        <th data-options="field:'Title',width:250,align:'center'">标题</th>
                        <th data-options="field:'ValidDate',width:100,align:'center',formatter:function(v){return v ? v.substr(0,10): ''}">有效期</th>
                        <th data-options="field:'Publisher',width:100,align:'center'">发布人</th>
                        <th data-options="field:'TagName',width:100,align:'center'">标签</th>
                        <th data-options="field:'PublishDate',width:160,align:'center',formatter:function(v){return v ? v.substr(0,10): ''}">发布日期</th>
                        <th data-options="field:'UpdateDate',width:160,align:'center',formatter:function(v){return v ? v.substr(0,10): ''}">更新日期</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>


<script>
    var searchOps = {}

    $(function () {

       


        $('#serchText').searchbox({
            searcher: function (value) {
                searchOps.Search = value;
                searchOps.UpdateDateFrom = $('#UpdateDate1').val();
                searchOps.UpdateDateTo = $('#UpdateDate2').val();
                searchOps.PublishDateFrom = $('#ValidDate1').val();
                searchOps.PublishDateTo = $('#ValidDate2').val();
                $('#grid').datagrid('load', searchOps);
            },
            prompt: '支持标题、发布人、标签模糊查询'
        });

        $('#grid').datagrid({
            url: '@Url.Action("Query", "Lss")',
        });

        $('#product_tree').tree({
            onSelect: function (node) {              
                searchOps.TagID = node.id;
                $('#grid').datagrid('load', searchOps);
            }
        });


        $('#btnFind').click(function () {
            var searchText = $("#serchText").textbox('getText');

        });

    });


    //添加
    function addDialog() {
        $('<div/>').dialog({
            title: 'Lss 添加新项',
            width: 500,
            height: 600,
            id: 'addDialog',
            modal: true,
            closed: false,
            href: '@Url.Action("AddLss", "Dialog")',
            buttons: [{
                text: '确定',
                handler: function () {
                    addSubmit();
                }
            }, {
                text: '取消',
                handler: function () {
                    $('#addDialog').dialog('destroy');
                }
            }],
            onLoad: function () {

                $('#add_tag').combotree({
                    url: '@Url.Action("ProductLine", "Lss")',
                    required: true,
                    onBeforeSelect: function (node) {
                        if (node.id === 0 || node.ProductLineID || node.DepartID) return false;
                        return true;
                    }
                });

            }
        });
    }

    //修改
    function updateDialog() {

        var record = $('#grid').datagrid('getSelected');

        if (record == null) {
            alert('请选择一行再操作');
            return;
        }
        $('<div/>').dialog({
            title: 'Lss 更新信息',
            width: 500,
            height: 600,
            id: 'updateDialog',
            modal: true,
            closed: false,
            href: '@Url.Action("AddLss", "Dialog")',
            buttons: [{
                text: '确定',
                handler: function () {
                    updateSubmit();
                }
            }, {
                text: '取消',
                handler: function () {
                    $('#updateDialog').dialog('destroy');
                }
            }],
            onLoad: function () {

                $('#add_tag').combotree({
                    url: '@Url.Action("ProductLine", "Lss")',
                    required: true,
                    onBeforeSelect: function (node) {
                        if (record.id === 0 || record.ProductLineID || record.DepartID) return false;
                        return true;
                    }
                });


                $('#ac-form').form('reset');
                $('#ac-form').form('load', record);
                $('#attPanel').empty();
                $.each(record.Attachments, function (index, att) {
                    $('#attPanel').append('<p><span class="cl100">附件：</span><a id="att' + index + '" href="#" name="' + att.AttachmentID + '"></a><span>' + att.AttachmentName + '</span></p>')
                    $('#att' + index).linkbutton({
                        plain: true,
                        iconCls: 'icon-cancel'
                    });
                    $('#att' + index).bind('click', function () {
                        var $this = $(this);
                        var $parent = $(this).parents("p");
                        $.messager.confirm('删除', '是否确认删除?', function (r) {
                            if (!r) return;
                            $parent.empty();
                            $parent.append(' <p><span class="cl100">附件：</span> <input id="att' + index + '" class="easyui-filebox" name="file' + index + '"  style="width:300px">  </p>');
                            $('#att' + index).filebox({});
                        });
                    });
                });
                for (var index = $('#attPanel>p').length; index < 5; index++) {
                    $('#attPanel').append(' <p><span class="cl100">附件：</span> <input id="att' + index + '" class="easyui-filebox" name="file' + index + '"  style="width:300px">  </p>');
                    $('#att' + index).filebox({});

                }


            }
        });
    }

    function addSubmit() {
        var data = $('#ac-form').toJSON();
        if (!data.TagID) {
            alert('标签不能为空');
            return;
        }
        if (data.Title == null || data.Name == '') {
            alert('标题不能为空');
            return;
        }

        var form = new FormData($('#ac-form')[0]);
        var settings = {
            "async": true,
            "url": '@Url.Action("Add", "Lss")',
            "method": "POST",
            "processData": false,
            "contentType": false,
            "mimeType": "multipart/form-data",
            "data": form
        }

        $.ajax(settings).done(function (response) {
            var obj = JSON.parse(response);
            if (!obj.success) {
                alert(obj.message);
                return;
            }
            $('#addDialog').dialog('destroy');
            $('#grid').datagrid('reload');
        }).fail(function (response) {
            var obj = JSON.parse(response.responseText);
            alert(obj.Message);
        });
    }


    function updateSubmit() {
        var record = $('#grid').datagrid('getSelected');
        var data = $('#ac-form').toJSON();
        if (!data.TagID) {
            alert('标签不能为空');
            return;
        }
        if (data.Title == null || data.Name == '') {
            alert('标题不能为空');
            return;
        }


        var form = new FormData($('#ac-form')[0]);
        var settings = {
            "async": true,
            "url": '@Url.Action("Update", "Lss")',
            "method": "POST",
            "processData": false,
            "contentType": false,
            "mimeType": "multipart/form-data",
            "data": form
        }
        $.each(record.Attachments, function (index, att) {
            if ($('a[name=' + att.AttachmentID + ']').length == 0) {
                form.append("DeleteAttachmentIDs", att.AttachmentID);
            }
        })

        $.ajax(settings).done(function (response) {
            var obj = JSON.parse(response);
            if (!obj.success) {
                alert(obj.message);
                return;
            }

            $('#grid').datagrid('reload');
            $('#updateDialog').dialog('destroy');
        }).fail(function (response) {
            var obj = JSON.parse(response.responseText);
            alert(obj.Message);
        });
    }


    function del() {
        var record = $('#grid').datagrid('getSelected');
        if (record == null) {
            $.messager.alert('提示', '请选择一行再操作!');
            return;
        }
        $.messager.confirm('删除', '是否确认删除?', function (r) {
            if (r) {
                $.post('@Url.Action("Delete", "Lss")?id=' + record.LssID, {}, function () {
                    $('#grid').datagrid('reload');
                });
            }
        });
    }


    function search() {
        console.log(searchOps)

    }

    function updateFile() {
        document.getElementById("fileInput").click();
    }




    function showTagDialog() {
        $('<div><div class="easyui-panel" style="width:400px;height:400px;padding:20px 60px"><ul id="dialogTagTree" class="easyui-tree"></ul></div></div>').dialog({
            title: '标签',
            width: 'auto',
            height: 450,
            onOpen: function () {
                $('#dialogTagTree').tree({
                    url: '@Url.Action("ProductLine", "Lss")'
                });

            },
            buttons: [{
                text: '增加同级标签',
                handler: function () {
                    var record = $('#dialogTagTree').tree('getSelected');
                    if (record.id === 0 || record.ProductLineID || record.DepartID) {
                        $.messager.alert('提示', '不能增加同级标签!');
                        return;
                    }
                    $.messager.prompt('添加标签', '请输入标签名称', function (r) {
                        if (r) {
                            var parentRecord = $('#dialogTagTree').tree('getParent', record.target);

                            if (parentRecord.ProductLineID) {
                                $.post('@Url.Action("AddSiblingTag", "Lss")?productLineID=' + parentRecord.ProductLineID + '&tagName=' + r, function (data) {
                                    if (data.success) {
                                        $('#dialogTagTree').tree('reload');
                                    } else {
                                        $.messager.alert('提示', data.message);
                                    }
                                });
                            } else {
                                $.post('@Url.Action("AddSiblingTag", "Lss")?tagID=' + record.id + '&tagName=' + r, function (data) {
                                    if (data.success) {
                                        $('#dialogTagTree').tree('reload');
                                    } else {
                                        $.messager.alert('提示', data.message);
                                    }
                                });
                            }

                        }
                    });
                }
            }, {
                text: '增加子标签',
                handler: function () {
                    var record = $('#dialogTagTree').tree('getSelected');
                    if (record.id === 0 || (record.DepartID && !record.ProductLineID)) {
                        $.messager.alert('提示', '不能增加子级标签!');
                        return;
                    }
                    $.messager.prompt('添加标签', '请输入标签名称', function (r) {
                        debugger
                        if (r) {

                            if (record.ProductLineID) {
                                $.post('@Url.Action("AddChildTag", "Lss")?productLineID=' + record.ProductLineID + '&tagName=' + r, function (data) {
                                    if (data.success) {
                                        $('#dialogTagTree').tree('reload');
                                    } else {
                                        $.messager.alert('提示', data.message);
                                    }
                                });
                            } else {
                                $.post('@Url.Action("AddChildTag", "Lss")?tagID=' + record.id + '&tagName=' + r, function (data) {
                                    if (data.success) {
                                        $('#dialogTagTree').tree('reload');
                                    } else {
                                        $.messager.alert('提示', data.message);
                                    }

                                });
                            }

                        }
                    });
                }
            }, {
                text: '编辑名称',
                handler: function () {
                    var record = $('#dialogTagTree').tree('getSelected');
                    if (record.id === 0 || record.ProductLineID || record.DepartID) {
                        $.messager.alert('提示', '不能编辑标签名称!');
                        return;
                    }
                    $.messager.prompt('添加标签', '请输入标签名称', function (r) {
                        if (r) {
                            $.post('@Url.Action("RenameTag", "Lss")?tagID=' + record.id + '&tagName=' + r, function (data) {
                                if (data.success) {
                                    $('#dialogTagTree').tree('reload');
                                } else {
                                    $.messager.alert('提示', data.message);
                                }
                            });
                        }
                    });
                }
            }, {
                text: '删除标签',
                handler: function () {
                    var record = $('#dialogTagTree').tree('getSelected');
                    if (record.id === 0 || record.ProductLineID || record.DepartID) {
                        $.messager.alert('提示', '不能删除标签!');
                        return;
                    }
                    $.messager.confirm('删除', '是否确认删除?', function (r) {
                        if (r) {
                            var record = $('#dialogTagTree').tree('getSelected');
                            $.post('@Url.Action("DeleteTag", "Lss")?tagID=' + record.id, function (data) {
                                if (data.success) {
                                    $('#dialogTagTree').tree('reload');
                                } else {
                                    $.messager.alert('提示', data.message);
                                }
                            });
                        }
                    });
                }
            }]
        });

    }

    function formatterFavorite(value, row, index) {
        $('body').undelegate('#favorite' + index, 'click');
        $('body').delegate('#favorite' + index, 'click', function (e) {
            if (row.IsFavorite) {               
                $.post('@Url.Action("UnFavorite", "Lss")?id=' + row.LssID, function (obj) {
                    if (!obj.success) {
                        alert(obj.message);
                        return;
                    }

                    $('#grid').datagrid('reload');
                });
            } else {
                $.post('@Url.Action("Favorite", "Lss")?id=' + row.LssID, function (obj) {
                    if (!obj.success) {
                        alert(obj.message);
                        return;
                    }

                    $('#grid').datagrid('reload');
                });

            }

            return false;
        });

        if (row.IsFavorite) {
            return '<a href="#"  id="favorite' + index + '">已收藏</a>';
        } else {
            return '<a href="#" id="favorite' + index + '">收藏</a>';
        }
    }

    function formatterAttachment(value, row, index) {
        $('body').undelegate('#download' + index, 'click');
        $('body').delegate('#download' + index, 'click', function (e) {
            downloadAttachment(row);
            return false;
        });

        return '<a href="#" id="download' + index + '">下载</a>';
    }
    function downloadAttachment(item) {
        debugger
        $('<div><div class="easyui-panel" style="width:290px;padding:20px 60px"></div></div>').dialog({
            title: '下载附件',
            width: 300,
            height: 250,
            id: 'downloadDialog',
            modal: true,
            closed: false,
            buttons: [{
                text: '确定',
                handler: function () {
                    if ($('#downloadDialog :checked').length == 0) {
                        $.messager.alert('提示', '请选择至少一个附件!');
                        return;
                    }
                    var params = "lssID=" + item.LssID;
                    $('#downloadDialog :checked').each(function () {
                        params += "&attIDs=" + $(this).val();
                    })
                    window.location.href = '@Url.Action("Download", "Lss")?' + params;
                    $('#downloadDialog').dialog('destroy');
                }
            }, {
                text: '取消',
                handler: function () {
                    $('#downloadDialog').dialog('destroy');
                }
            }],
            onOpen: function () {

                for (var i = 0; i < item.Attachments.length; i++) {
                    var att = item.Attachments[i];
                    $('#downloadDialog>div').append('<div style="margin-bottom:10px"><input type="checkbox" name="downloadUrl" value="' + att.AttachmentID + '" />&nbsp;&nbsp;' + att.AttachmentName + '</div>')
                }

            }
        });

    }

</script>